<div class="page_layout">
  <div class="page_layout__container">
    <div class="page_layout__container__header">{{ SubCategories() }}</div>
    <div class="page_layout__container__body">
      <div class="page_layout__container__body__drop"></div>
      <div class="page_layout__container__body__CategoryName">
        {{ SubCategoriesLanguage() }}
      </div>
      <div
        class="page_layout__container__body__ListContainer"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of Categories; track item.id) {
        <div
          class="page_layout__container__body__ListContainer__item-box"
          cdkDrag
        >
          @if(language == 'En'){
          {{ item.categoryNameEn }}
          } @else if(language == 'Tr'){
          {{ item.categoryNameTr }}
          } @else if(language == 'Ar'){
          {{ item.categoryNameAr }}
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>

<app-admin-success-message> </app-admin-success-message>
