
@import "../../../sass/abstracts/variables";
.page_layout{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.page__title{
    font-size: 2rem;
    font-family: $font-family-teko;
    font-weight: 500;
    color: $color-red;
    
}

.language__cards{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.language__card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family-teko;
    font-size: 1.85rem;
    height: 8rem;
    background-color: $color-light-yellow2;
    width: 8rem;
    border-radius: 20%;
    &--ar{
        direction: rtl;
        line-height: 1;
        justify-self: center;
        align-items: center;
        text-wrap: nowrap;
        font-size: 1.7rem;
        font-weight: 500;
    }
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
}
