@import "../../../sass/abstracts/variables";

.html body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;

}

.page{
    min-height: 100vh;
    background-color: $color-light-yellow;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.header{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;

  &__back{
    margin-top: 2rem;
    scale: 1.7;
    width: 6rem;
    margin-left: 2rem;
    position: absolute;
    left: 8%;
    top: 20%;
  }
  &__logo{
    margin-bottom: 1.5rem;
  }
  &__title{
    margin-bottom: 1rem;

  }
  &__languageDropdown{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }

}


@media (max-width: 350px) {
  .header{
    &__title{
      font-size: 2rem;
    }
  }
}



