<div class="page_layout">
  <h1 class="page__title">Choose A Restaurant:</h1>
  <div class="language__cards">
    <div class="row">
      <div class="language__card">
        <div class="language__title" (click)="onlounge()">Lounge</div>
      </div>

      <div class="language__card">
        <div class="language__title" (click)="onClassic()">Classic</div>
      </div>
    </div>

    <div class="language__card">
      <div class="language__title" (click)="onfried()">Fried</div>
    </div>
  </div>
</div>
