<section class="container">
  <div class="grid">
    <article class="card" *ngFor="let post of posts()">
      <a
        class="img-link"
        [routerLink]="['/blog', post.slug]"
        [attr.aria-label]="post.title"
      >
        <img
          class="blogcover"
          [src]="post.coverImage"
          [alt]="post.title"
          loading="lazy"
        />
      </a>

      <h2 class="title">
        <a [routerLink]="['/blog', post.slug]">{{ post.title }}</a>
      </h2>

      <a
        class="btn"
        [routerLink]="['/blog', post.slug]"
        [attr.aria-label]="'blog.readMore' | translate:{ title: post.title }"
      >
        {{ 'blog.readMore' | translate }}
      </a>
    </article>
  </div>
</section>

<app-footer-website />
