@import "../../../sass/abstracts/variables";
@import "../../../sass/abstracts/mixins";


.logo{
/*     width: 6rem;
    height: 6rem;
    background-color: $color-light-yellow2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1.5rem; */

    &__image{
        width: 5rem;
        height: 5rem;
        margin-top: 1rem;
        border-radius: 50%;

        @include respond(big-desktop){
            width: 11rem;
            height: 11rem;
            margin-bottom: 1rem;
        }
        
    }
}