<div class="page_layout">
  <div class="row1">
    <app-total-orders />
    <app-total-sales-permonth />
  </div>
  <div class="row2">
    <div class="column1">
      <app-total-sold-items-number />
      <app-top5solditems />
    </div>
    <div class="column2">
      <div class="r1">
        <app-sales-between-months />
      </div>
      <div class="r1">
        <app-sales-between-branches />
      </div>
    </div>
  </div>

  <div class="row3">
    <app-cashier-payment-manager />
  </div>

  <div class="row3">
    <app-online-payment-manager />
  </div>

  <div class="row4">
    <div class="column12">
      <app-sales-performance />
    </div>
    <div class="column22">
      <app-item-performance-per-branch />
    </div>
  </div>
</div>
