<div class="contactform-website" id="contact-form">
  <img
    src="images/website-images/formimage.webp"
    class="contactformBackground"
    loading="lazy"
    alt="Hungry Birds Founder"
  />

  <div
    class="contactformLeft"
    [@fadeIn]="getAnimationState('contactformLeft')"
    appAnimateOnScroll
    (animationStateChange)="setAnimationState('contactformLeft', $event)"
  >
    {{ "contactform.title_line1" | translate }} <br />
    {{ "contactform.title_line2" | translate }}
  </div>
  <form
    class="formcontactuswebsite"
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
    [@fadeIn]="getAnimationState('formcontactuswebsite')"
    appAnimateOnScroll
    (animationStateChange)="setAnimationState('formcontactuswebsite', $event)"
  >
    <div class="contactformright">
      <div class="contactformrow1">
        <div class="contactformInput">
          <div class="contactformInputtitle">
            {{ "contactform.name" | translate }}
          </div>
          <input
            formControlName="name"
            type="text"
            class="contactformInputfield"
            [ngClass]="{
              'invalid-border':
                contactForm.get('name')!.invalid &&
                contactForm.get('name')!.touched
            }"
          />
        </div>

        <div class="contactformInput">
          <div class="contactformInputtitle">
            {{ "contactform.surname" | translate }}
          </div>
          <input
            formControlName="surname"
            type="text"
            class="contactformInputfield"
            [ngClass]="{
              'invalid-border':
                contactForm.get('surname')!.invalid &&
                contactForm.get('surname')!.touched
            }"
          />
        </div>
      </div>

      <div class="contactformrow2">
        <div class="contactformInput">
          <div class="contactformInputtitle">
            {{ "contactform.email" | translate }}
          </div>
          <input
            formControlName="email"
            type="email"
            class="contactformInputfield emailformwebsite"
            [ngClass]="{
              'invalid-border':
                contactForm.get('email')!.invalid &&
                contactForm.get('email')!.touched
            }"
          />
        </div>
      </div>

      <div class="contactformrow3">
        <div class="contactformInput">
          <div class="contactformInputtitle">
            {{ "contactform.phone" | translate }}
          </div>
          <div class="contactformrow3">
            <select
              formControlName="countryCode"
              class="contactformInputfield phonecodeformwebsite"
              [ngClass]="{
                'invalid-border':
                  contactForm.get('countryCode')!.invalid &&
                  contactForm.get('countryCode')!.touched
              }"
            >
              <option
                *ngFor="let country of countryCodes"
                [value]="country.dial_code"
              >
                {{ country.dial_code }} ({{ country.code }})
              </option>
            </select>
            <input
              formControlName="phoneNumber"
              type="text"
              class="contactformInputfield contactformphonenumber"
              [ngClass]="{
                'invalid-border':
                  contactForm.get('phoneNumber')!.invalid &&
                  contactForm.get('phoneNumber')!.touched
              }"
            />
          </div>
        </div>
      </div>

      <div class="contactformrow4">
        <div class="contactformInput">
          <div class="contactformInputtitle">
            {{ "contactform.message" | translate }}
          </div>
          <textarea
            formControlName="message"
            class="contactformInputfield emailformwebsite"
            [ngClass]="{
              'invalid-border':
                contactForm.get('message')!.invalid &&
                contactForm.get('message')!.touched
            }"
          ></textarea>
        </div>
      </div>

      <div class="contactformsend">
        <button class="sendcontactform" type="submit">
          {{ "contactform.send" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
