<div class="page_layout">
  <h1 class="page__title">Choose Your Language:</h1>
  <div class="language__cards">
    <div class="row">
      <div class="language__card">
        <div class="language__title" (click)="onTurkish()">Türkçe</div>
      </div>

      <div class="language__card">
        <div class="language__title" (click)="onEnglish()">English</div>
      </div>
    </div>

    <div class="language__card">
      <div class="language__title" (click)="onArabic()">العربية</div>
    </div>
  </div>
</div>
