<div class="content">
  <div class="card_title">
    {{ input_card_title() }}
  </div>
  <div class="card">
    <div class="main">
      <div class="main__value">
        {{ input_card_data() }}
        <span class="unit">{{input_card_unit()}}</span>
      </div>
      <div class="main__month">{{currentMonthName}}</div>
    </div>
    <p class="main__label"></p>

    <div class="footer">
      <div class="section">
        <div class="section__value">
          {{ input_card_section1_data() }}
          <span class="mini_unit">{{input_card_unit()}}</span>

        </div>
        <div class="section__branch">{{ input_card_section1_title() }}</div>
      </div>

      <div class="section">
        <div class="section__value">
          {{ input_card_section2_data() }}
          <span class="mini_unit">{{input_card_unit()}}</span>

        </div>
        <div class="section__branch">{{ input_card_section2_title() }}</div>
      </div>

      <div class="section">
        <div class="section__value">
          {{ input_card_section3_data() }}
          <span class="mini_unit">{{input_card_unit()}}</span>

        </div>
        <div class="section__branch">{{ input_card_section3_title() }}</div>
      </div>
    </div>
  </div>
</div>
